footer{
	.container{
		text-align: center;
    	margin: 0 auto;
	}

	.footer-content{
		margin-top: 100px;
	}

	.text_footer{
		p{
			width: 50%;
    		margin: 0 auto 35px;
    		color: #7f7f7f;
    		font-size: 16px;
    		text-align: left;
    		font-family: opensan-regular;
		}
	}

	.nav_footer{
		ul{
			li{
				a{
					color: #17135F;
    				font-weight: bold;
				}
			}
		}
	}

	#menu-menu-footer{
		list-style: none;
	    padding-left: 0px;
	    display: inline-flex;

	    li{
	    	border-right: 1px solid #2980b9;
	    	a{
	    		text-decoration: none;
	    		font-size: 14px;
	    		color: #2980b9;
	    		font-family: opensan-regular;
	    		padding: 0px 4px 0px 4px;
	    	}

	    }

    	li:last-child{
    		border-right:none;
    	}
	}

	.menu-menu-footer-container{
		text-align: center;
	}

	.widget_meta{
		h2{
			font-size: 15px;
			font-family: opensan-regular;
			color: #737373;
			text-align: center;
			margin-bottom: 25px;
		}

		ul{
			display: none;
		}
	}

	.addtoany_shortcode{
		div{
			a{
				span{
					border-radius:0px !important;
				}
			}
		}
	}

	.menu-menu-footer-tieng-viet-container{
		text-align: center;

		#menu-menu-footer-tieng-viet{
			list-style: none;
		    padding-left: 0px;
		    display: -webkit-inline-box;
		    display: -ms-inline-flexbox;
		    display: inline-flex;
		    margin-top: 15px;
    		margin-bottom: 15px;

		    li{
		    	border-right: 1px solid #2980b9;

		    	a{
		    		text-decoration: none;
				    font-size: 14px;
				    color: #2980b9;
				    font-family: opensan-regular;
				    padding: 0px 4px 0px 4px;
		    	}
		    }

		    li:last-child{
		    	border-right:none;
		    }
		}
	}
}

.footer_info{
	.name_vien{
		font-size: 18px;
	    font-family: opensan-bold;
	    color: #1a4894;
	}

	p{
		margin-bottom: 0px;
		text-align: left;
		margin-bottom: 0px;
	    text-align: left;
	    color: #848484;
	    font-size: 16px;
	}

}

.maps_footer{
	text-align: right;
	
	img{
		background-size: cover;
	    height: auto;
	    background-position: 50%;
	}
}