.topBar{
	background-color: #eaeaea;
    width: 100%;
    padding: 3px;
    height: 33px;

    .topNav{
    	ul{
    		margin-bottom: 0;
		    display: -webkit-box;
		    display: -webkit-flex;
		    display: -moz-box;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-pack: end;
		    -webkit-justify-content: flex-end;
		    -moz-box-pack: end;
		    -ms-flex-pack: end;
		    justify-content: flex-end;
		    list-style: none;
		    -webkit-box-align: center;
		    -webkit-align-items: center;
		    -moz-box-align: center;
		    -ms-flex-align: center;
		    align-items: center;

		    li{
		    	padding: 0 15px;

		    	a{
		    		color: #0b539c;
				    text-decoration: none;
				    font-size: 15px !important;
				    font-weight: 500;

				    i{
				    	color: #555555;
				    }
		    	}
		    }

		    li:nth-last-child(-n + 4){
		    	border-right: none;
    			padding-right: 7px;
		    }

		    li:nth-last-child(-n + 4) a{
		    	font-size: 18px;
		    }
    	}
    }
}

.amdin_header{
	margin-top:30px;
}

.header-inner{
	margin-bottom: 0px;
    height: auto;
    background-color: #165ea4;

   	.navbar{
   		position:inherit;
   	}
}

.primary-nav{
	// display: block;
 //    height: auto;
    margin: 30px 0 0;
    font-size: 15px;
    position: static;
    border: none;
    line-height: 1em;

		.collapse{
			display: block;
		}

		.navbar-nav{
			position: static;
    		margin-bottom: 20px;
		}

		.visible-social{
			display: none;
		}
}

.supper_menu{
	margin: 5px 0px 0px 0px;
}

.aicd-logo{
	img{
		width: 240px;
    	height: 80px;
	}
}

.menu-login{
	position: absolute;
    top: 176px;
    right: calc(48% - 530px);
    background:none;

    .login{
    	background: none;
	    border: 1px solid red;
	    margin-top: 7px;
	    text-transform: uppercase;
	    border-radius: 2px;

	    a{
	    	padding: 4px 10px 4px 10px;
    		color: red;
	    }
    }

    .search-head:hover{
    	background:none;
    }
}

.menu_primary{
	li{
		a{
			//background: none;
    		//font-weight: 700;
    		font-family: opensan-bold;
    		font-size: 17px;
    		background:none;
    		color: #1a4894;
		}

		// a:first-child{
		// 	padding-left:0px;
		// }

		a:hover{
			background:none;
		}
	}
}

.home_submu{
	text-transform: uppercase;
	font-family: opensan-bold;
}

.home-input{
	padding: 20px;
    background: #e8e8e3;

    .search_header{
    	margin: 0 -webkit-calc(100vw / 30);
	    margin: 0 -moz-calc(100vw / 30);
	    margin: 0 calc(100vw / 30);
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	    -webkit-flex-direction: row;
	    -moz-box-orient: horizontal;
	    -moz-box-direction: normal;
	    -ms-flex-direction: row;
	    flex-direction: row;

	    i{
	    	position: absolute;
		    top: 14px;
		    left: 34px;
		    font-size: 20px;
		    color: #363f53;
	    }
    }

    input{
    	height: 50px;
	    border: none;
	    -webkit-border-radius: 0 2px 2px 0;
	    -moz-border-radius: 0 2px 2px 0;
	    border-radius: 0 2px 2px 0;
	    padding-left: 4em;
	    padding-right: 1em;
	    color: #363f53;
	    font-size: 18px;
    }
	
	#searchform{
		width:100%;
	}

    .timkiem{
		width: 81%;
    }

    .submit_tk{
    	width: 10.8%;
	    padding: 0;
	    border-radius: 0 2px 2px 0;
	    background: #fd5a5a;
	    color: #fff;
	    font-size: 14px;
	    margin-right: 25px;
    }

    #btnSearch{
    	width: 10%;
	    padding: 0;
	    -webkit-border-radius: 0 2px 2px 0;
	    -moz-border-radius: 0 2px 2px 0;
	    border-radius: 0 2px 2px 0;
	    background: #fd5a5a;
	    color: #fff;
	    font-size: 14px;
	    margin-right: 25px;
    }
}

.submenu_item{
	background: #1a4894;
    padding: 15px 0px 15px 110px;
	
	span{
		padding-right: 15px;
		padding-left: 15px;
		border-right: 2px solid #fff;
		a{
			color: #c2c2c2;
			text-decoration:none;
			font-family: opensan-regular;
			font-size: 15px;
		}

		.submenu_action{
			color: #fff;
			font-family: opensan-regular;
			font-size: 15px;
		}
	}
}

.submenu_item span:last-child{
	border-right:none;
}

#menu-menu-header{
	li{
		padding-right: 25px;
		a{
			font-size: 15px;
			color: #0b539c;
		}
	}
}

.title_tk{
	color: #1a4894 !important;
	font-family: opensan-regular;
}

.no_timkiem{
	color: #1a4894 !important;
	font-family: opensan-regular;
}

.list_tk{
	list-style:none;
	padding-left:0px;
	li{
		margin-bottom: 15px;
		.images{
			img{
				background-size: cover;
			    height: auto;
			    background-position: 50%;
			    width: 100%;
			}
		}

		.title{
			padding-left: 0px;
			.title_post{
				font-size: 20px;
				font-family: opensan-regular;
			    color: #1a4894;
			}

			.mota{
				color: #1a4894;
			}
		}
	}
}

.search-head{
	color: #555555;
    padding: 12px 0px 0px 6px !important;
    font-size: 19px;
}

.sub-menu{
	display:none;
}

body .addtoany_list a, body .widget .addtoany_list a {
	font-size: 0px;
}

#lang_sel_click li{
	margin-bottom: -25px;
}

#lang_sel_click ul ul{
	border-top: none !important;
}

#lang_sel_click img.iclflag{
	top: -1px;
}

#search_page_item{
	display:none;
}

#page_id{
	background: #fff;
    color: #555555;
    padding: 12px 0px 0px 6px !important;
    font-size: 19px;
}

#icon_header-3{
	li{
		a{
			font-size: 18px !important;
		}
	}
}

#icon_header-2{
	li{
		a{
			font-size: 18px !important;
		}
	}
}

.logo{
	height: 135px;

	img{
		width: 130px;
		display: inline-block;
		padding-bottom: 70px;
	}

	.text_logo{
		display: inline-block;
	    font-size: 25px;
	    margin-top: 31px;
	    margin-bottom: 0px;
	    padding-top: 6px;
	    text-transform: uppercase;
	    color: #fff;
	    font-family: opensan-bold;
	    // font-family: opensan-regular;
	    letter-spacing: 1px;
	}

	.slogan{
    	text-align: center;
    	
		p{
			font-size: 20px;
    		font-family: opensan-bold;
    		color: #fff;
		}
	}

	.widget_widget_logo{
		display: inline-block;
		margin-left: 65px;
		
		// img{
		// 	display: none;
		// }
	}

	#widget_logo-2{
		margin-left: 40px !important;
	}
}

.menu{
	.border_menu{
		background: #e1e1e1;
		height: 1px;
	}
}


.time_date{
	display:inline-block;

	span{
		padding-right:10px;
	}
}

.topNav{
	display:inline-block;
	float: right;
}

.cLr{
	clear:both;
}

.phone{
	a{
		font-size:18px;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
	}
	transform: rotate(90deg);
    display: inline-block;
    background: #165ea4;
    padding: 10px;
    position: fixed;
    z-index: 9999;
    right: -94px;
    top: 355px;
}

.phone_en{
	right: -115px;
}

#menu-menu-header-tieng-viet{
	margin-top: -3px;
}

#icon_header-3{
	margin-top: -3px;
}

.member_online{
	margin-top: 5px;
	color: #555555;
	display: inline-block;
}

.time_h{
	padding-right: 5px;
    border-right: 1px solid #555555;
}

.time_d{
	padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #555555;
}

.user_o{
	padding-left: 8px;
    padding-right: 10px;
    border-right: 1px solid #555555;
}

.total{
	padding-left:10px;
}

.menuheader_mobile{
	#lang_sel_click{
		ul{
			margin-top: 2px !important;
		}
	}
}

.mobile_total{
	display:none;
	text-align:center;
}

.phone_moblie{
	display:none;
}

.menu{
	border-bottom: 1px solid #165EA4;
}

.menu_home{
	border-bottom: none;
}

.menu-menu-footer-tieng-viet-container{
	.menu{
		border-bottom: none;
	}
}

.menu-menu-footer-container{
	.menu{
		border-bottom: none;
	}
}

.menuheader_mobile{
	.menu{
		border-bottom: none;
	}
}

.topNav{
	.menu{
		border-bottom: none;
	}
}

#menu-menu-header{
	padding-left: 0px;
}