.lichkhoahoc{
	.list-khoahoc{
		padding-left: 0px;
		list-style: none;
		
			li{
				margin-top: 15px;
				padding-bottom: 30px;
				border-bottom:1px solid #cccccc;

				.date_khoahoc{
					font-family: opensan-bold;
					color: #636363;
				}

				.title_kh{
					font-size: 20px;
					color: #1a4894;
					margin-top: -10px;
					margin-bottom: 15px;
				}

				p{
					color: #1a4894;
				}

				.status{
					text-transform: uppercase;
				}

				.read_more{
					float: right;
				    text-transform: uppercase;
				    color: #1a4894;
				}
			}
		

        li:last-child{
            border-bottom:none; 
        }
	}

	.image_list{
		img{
			background-size: cover;
		    height: auto;
		    background-position: 50%;
		    width: 100%;
		}
	}
	
	.filter_khoahoc{
		.form-control{
			width: auto;
		    height: auto;
		    padding: 0px;
		    border:none;
		    box-shadow: none;
		}
	}
	
	.filter-control{
		display: table-cell;
		padding-right:15px !important;

		.filter_kh{
			padding: 10px;
			border-color: #5674b9;
			width: 100%;
		}

		#chude-khoahoc{
			width: 190px;
		}
	}

	// .filter-control:first-child{
		#filter_date_range {
			width: 135px;
		}
	//}

	.go_filter{
		display: table-cell;

	
		padding: 9px 25px 9px 25px;
	    border-radius: 5px;
	    border: none;
	    background: #5674b9;
	    color: #fff;
	    text-transform: uppercase;
	}

	.date_i18n{
		background: #ebebeb;
	    padding: 1px;
	    margin-top: 15px;
		display: none;

	    p{
	    	margin-left: 10px;
		    margin-top: 5px;
		    font-size: 14px;
		    margin-bottom: 5px;
	    }
	}

	.date_i18n:first-child{
		display: block;
	}
}

.single_mobile{
	display:none;
}

.lichkhoahoc{
	.filter_khoahoc{
		margin-top:20px;
	}

	.numner{
		display: inline-block;
		margin-top: 15px;
		color: #acacac;
	    font-size: 14px;
	    font-family: opensan-regular;
	    text-transform: uppercase;
	}

	.display_kh{
		display: inline-block;
    	float: right;
    	margin-top: 5px;

    	.view_khoahoc{
    		margin-right: 10px;
    		text-transform: uppercase;
    		color: black;
    		font-family: opensan-regular;
    	}

    	.option_display{
    		.filter-control{
    			padding-right: 5px !important;
    		}
    	}
	}
}

.pagination{
		display: block !important;
		.page-numbers{
			text-align: center;
			li{
				margin-top: 0px;
			    padding-bottom: 0px !important;
			    border-bottom: none !important;
			    display: inline-block;
				padding: 0px 0px 0px 20px;

				span{
					text-decoration: none;
				    font-size: 21px;
				    color: #898989;
				    font-family: opensan-bold;
				}

				a{
	    			text-decoration: none;
				    font-size: 21px;
				    color: #363e8b;
				    font-family: opensan-bold;
				}
			}
		}
	}