.about{
	.header_about{
		.title_page{
			color: #1a4894;	
    		text-align: center;
    		font-size: 36px;
		}

		.mota_page{
			font-size: 18px;
    		text-align: center;
    		margin-top: 25px;
		}
	}

	.sub_menu{
		position: relative;
	    border: 1px solid #e3e3e3;
	    -webkit-border-radius: initial;
	    -moz-border-radius: initial;
	    border-radius: initial;
	    font-size: 16px;
	    -webkit-box-shadow: 0px 0px 10px #ccc;
	    -moz-box-shadow: 0px 0px 10px #ccc;
	    box-shadow: 0px 0px 10px #ccc;
	    margin-bottom: 10px;
	    width: 100%;
	    height: auto;
	    padding-left: 35px;
	    padding-top: 25px;
	    margin-top: 40px;

	    .title_submu{
	    	a{    		
		    	font-family: opensan-bold;
		    	color: #1a4894;
		    	text-decoration: none;
	    	}
	    }

	    .mota_submu{
			margin-bottom: 25px;
		    font-size: 16px;
		    margin-top: 25px;
		    max-width: 992px;
	    }

	    .content_about{
	    	margin-bottom: 15px;
	    	max-width: 992px;
	    }

	    .img_read{
	    	position: absolute;
		    right: 15px;
		    top: 15px;
	    }

	    .img_close{
	    	position: absolute;
		    right: 31px;
		    top: 15px;
		    display: none;
	    }
	}
}