.list_news{
	margin-top: 40px;

	.news{
		ul{
			padding-left: 0px;
			list-style:none;

			li{
				margin-bottom: 20px;
				border-bottom: 1px solid #ccc;
    			padding-bottom: 20px;
			}

			li:last-child{
				border-bottom:none;
			}
		}
	}

	.image_news{
		img{
			background-size: cover;
		    height: auto;
		    background-position: 50%;
		    width: 100%;
		}
	}

	.title_news{
		font-size: 20px;
		color: #1a4894;
		font-family: opensan-regular;
	}

	.date_news{
		color: #1a4894;
		font-family: opensan-regular;
	}
}

.list_kh_sidebar{
	ul{
		padding-left: 0px;
		list-style:none;
		li{
			margin-bottom: 20px;
		}
	}
}

.aside-title{
		margin: -11px 0 28px;
	    padding: 0;
	    font-size: 18px;
	    border-bottom: 1px solid #ddd;
	    line-height: 2.3em;
	    text-transform: uppercase;

	    a{
	    	font-size: 18px;
		    float: right;
		    line-height: 40px;
		    text-decoration: none;
	    }
	}

.images_khoahoc{
	img{
		background-size: cover;
	    height: auto;
	    background-position: 50%;
	}
}

.title_kh{
	color: #1a4894;
	font-family: opensan-regular;
}

.time_date{
	color: #1a4894;
	font-family: opensan-regular;
}