.login{
	#wpdmlogin{
		.user_sleader{
			display: block;

			.input-group-addon{
				text-align: left;
			    border: none;
			    background: #fff;
			    padding-left: 0px;
			    color: black;
			    font-family: opensan-bold;
			    font-size: 14px;
			    text-transform: uppercase;
			}
		}
	}

	.header_form{
		text-align: center;

		.title_form{
			font-size: 21.1px;
		    text-align: center;
		    font-weight: bold;
		    font-family: opensan-regular;
		}

		.loikhuyen{
			font-size: 14.28px;
		    text-align: center;
		    font-family: opensan-regular;
		}
	}

	#wpdmregister{
		position: relative;
	    margin: 0 auto;
	    overflow: hidden;
	    padding: 40px;
	    border: 1px solid #cccccc;
	    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	    background: #ffffff;
	    border-radius: 0;
	    margin-bottom: 50px;
	}

	#wpdmregister{
		.register_sleader{
			display: block;

			.input-group-addon{
				text-align: left;
			    border: none;
			    background: #fff;
			    padding-left: 0px;
			    color: black;
			    font-family: opensan-bold;
			    font-size: 14px;
			    text-transform: uppercase;
			}
		}
	}
}

.user_dangky{
	display: none;
}