.lienhe{
	.container{
		margin-top: 30px;
	}

	.title_page{
		font-size: 19px;
		font-family: opensan-bold;
		color: #5674b9;
	}

	.thongtin{
		color: #555555;
		font-family: opensan-regular;
		font-size: 17px;
		margin-bottom: 0px;

		i{
			padding-right: 10px;
		}
	}

	.diachi{
		margin-bottom: 50px;
	}

	#wpgmza_map{
		margin-top: 80px;
		margin-bottom: 80px;
	}

	.form_lienhe{
		margin-left: auto;
	    margin-right: auto;
	    width: 992px;
		color: #555555;
	    .input_lh{
	    	margin-bottom: 10px;
			width: 47.666667%;

	    	input{
	    		border-radius:0px;
	    	}
	    }

	    .huy{
	    	padding-left: 0px;
	    	width: 56.333333%;
	    }

	    .input_gui{
			width: 10.333333%;

	    	input{
	    		background: #5674b9;
			    border-radius: 7px;
			    padding: 8px 15px 8px 15px;
			    color: #fff;
			    text-transform: uppercase;
			    border: none;
	    	}
	    }

	    .control-label{
	    	text-align: right;
	    	width: 29.333333%;
	    }
	}

	textarea.form-control {
    	height: 100px;
	}
	
	.form-horizontal{
		.form-group {
	   		margin-bottom: 0px;
		}
	}
}