.sidebar_tintuc{
	.title{
		.aside-title{
			margin: 10px 0 28px;
		    padding: 0;
		    font-size: 18px;
		    border-bottom: solid 1px #dddddd;
		    line-height: 2.3em;
		    text-transform: uppercase;

		    a{
		    	font-size: 18px;
			    float: right;
			    line-height: 40px;
			    text-decoration: none;
		    }
		}
	}

	.list_events{
		ul{
			padding-left:0px;
			list-style: none;
			li{
				margin-bottom: 25px;

				.images_events{
					img{
						background-size: cover;
					    height: auto;
					    background-position: 50%;
					}
				}

				.title_events{
					font-size: 16px;
    				color: #363e8b;
				}
			}
		}
	}
}