.tuvanchienluoc{
	.widget_meta{
		ul{
			display: none;
		}
	}

	.item_tuvan{
		.images{
			img{
				width: 110px;
				height: 110px;
				border-radius: 100%;
			}
		}
	}

	.widget_text{
		.widget-title{
			text-align: center;
			font-size: 36px;
			font-family: opensan-regular;
			color: #1a4894;
		}

		.textwidget{
			p{
				font-family: opensan-regular;
				text-align: center;
				color: #1a4894;
			}
		}
	}
	
	.widget_text{
		background: #ebebeb;
		padding-bottom: 25px;
		padding-top: 20px;
	}

	.learn{
		background: #ebebeb;
		.container{
			.noidung{
				margin-bottom: 15px;
				margin-top: 25px;
				ul{
					list-style: none;
					padding-left: 0px;

					li{
						.images_learn{
							width: 13.666667%;

							img{
								width: 110px;
								height: 110px;
								border-radius:100%;
							}
						}

						.single_learn{
							width: 86.333333%;
						}

						.title_post{
							font-family: opensan-bold;
							color: #1a4894;
							font-size: 18px;
						}

						.single_post{
							font-family: opensan-regular;
							font-size: 16px;
							color: #636363;
							border-bottom:1px solid #1a4894;
							padding-bottom: 15px;
						}
					}
				}
			}
		}
	}

	.item_chienluoc{
		width: 992px;
	    margin: 0 auto;
	    text-align: center;
		margin-bottom: 45px;
	    .widget-title{
	    	font-size: 36px;
	    	font-family: opensan-regular;
	    	color: #1a4894;
	    	margin-bottom: 35px;
	    }

	    .title_item{
	    	font-size: 15px;
		    color: #1a4894;
		    font-family: opensan-bold;
		    margin-top: 20px;
		    height: 40px;
	    }

	    .single_item{
    	    color: #737373;
			font-family: opensan-regular;
	    }
	}
}

.list_topic{
	.container{
		.url_topic{
			a{
				text-transform: uppercase;
				font-family: opensan-bold;
			}
		}
	}
}