.tuvan_nghiencuu{
	.submenu_tuavn{
		.widget-title{
			font-size: 36px;
			color: #1a4894;
			font-family: opensan-regular;
			text-align: center;
			margin-bottom: 30px;
		}
		
		.item_tuvan{
			text-align: center;
		}

		.content_item{
			.title_item{
				font-size: 15px;
				color: #1a4894;
				font-family: opensan-bold;
				margin-top: 20px;
				height: 40px;
			}

			.single_item{
				color: #737373;
				font-family: opensan-regular;
			}

			.url_item{
				a{
					text-decoration: none;
					font-family: opensan-regular;
					color: #1a4894;
				}
			}
		}

		.images{
			img{
				width: 110px;
				height: 110px;
				border-radius: 100%;
			}
		}

		.widget_meta{
			ul{
				display: none;
			}
		}
	}

	.video_tuvan{
		background: #e1e1e1;
		margin-top: 15px;

		.title_video{
		    font-size: 36px;
			text-align: center;
			color: #1a4894;
			font-family: opensan-regular;
		}

		.mota_video{
		    font-size: 18px;
		    text-align: center;
		    color: #1a4894;
		    font-family: opensan-regular;
		}

		.video{
			text-align: center;
		}
	}

	.list_topic{
		margin-top: 15px;
	}
}

.single_chienluoc{
	background:#ebebeb;

	.title_single{
		text-align:center;
		font-size: 36px;
	}
	
	.mota_chienluc{
		text-align:center;
		font-size: 18px;
		color:#1a4894;
		font-family: opensan-regular;
	}

	.images_item{
		width: 12.666667%;
	}

	.noidung_item{
		width: 87.333333%;
		border-bottom: 1px solid #1a4894;

		.title_item{
			font-size: 18px;
			font-family: opensan-bold;
			color: #1a4894;
		}

		.single_item{
			color: #555555;
			font-family: opensan-regular;
			font-size: 16px;
		}
	}
}

.title_chienluoc{
	font-size:36px;
	text-align: center;
	color:#1a4894;
}

.title_item_ch{
	font-size: 15px;
    color: #1a4894;
    font-family: opensan-bold;
    margin-top: 20px;
}

.single_item_ch{
	color: #737373;
    font-family: opensan-regular;
}

.author{
	margin-top: 65px;

	.images_author{
		width: 22%;
		margin-left: 11.333333%;
		margin-bottom: 15px;
		
		img{
			background-size: cover;
		    height: auto;
		    background-position: 50%;
		}
	}

	.noidung_author{
		width: 66.666667%;

		img{
			margin-left: -25px;
		}

		.single_author{
			max-width:360px;
			color: #4e4f88;
			font-family: opensan-regular;
		}

		.name_author{
			color: #4e4f88;
			font-family: opensan-regular;
		}
	}
}