@media(max-width:768px){
	.daotao{
		.pod-container{
			.pod-content{
				.content{
					height: 160px;
				}
			}
		}
	}
}

@media(max-width:767px){
	.daotao{
		.list-khoahoc{
			padding-left: 0px;
		}

		.pod-container{
			.pod-content{
				.content{
					height: 70px;
				}
			}
		}

		.images_learn{
			text-align: center;
		}

		.item_daotao{
			margin-bottom: 10px;
		}
	}
}

@media(max-width:375px){
	.daotao{
		.pod-container{
			.pod-content{
				.content{
					height: 85px;
				}
			}
		}
	}
}