@media(max-width:1023px){
	.tuvanchienluoc{
		.item_chienluoc{
			width: 100%;
		}
	}
}

@media(max-width:1024px){
	.menu-login{
		position: fixed;
	    right: 30px;
	    bottom: 5px;
	    z-index: 999999;
	    top: unset;

	    li{
	    	.search-head{
	    		display: none;
	    	}
	    }

	    .login{
	    	border: 1px solid #2980b9;
    		background: #2980b9;

	    	a{
	    		padding: 8px 15px 8px 15px;
    			color: #fff;
    			font-size: 21px;
    			font-family: opensan-regular;
	    	}
	    }
	}

	.home{
		.khoahoc_news{
			.colum1{
				width: 50%;
			}

			.colum2{
				margin-left: 0px;
				width: 50%;
			}

			.list_post{
				li{
					.images_kh{
						img{
							width: 100%;
						}
					}
				}
			}
		}
	}

	.about{
		.sub_menu{
			.mota_submu{
				max-width: 768px;
			}
		}
	}

	.lienhe{
		.form_lienhe{
			width: 100%;
		}
	}

	.phone{
		left: 8px;
	}

	.member_online{
		display: none;
	}

	.mobile_total{
		display: block;
	}

	.phone{
		display: none;
	}

	.phone_moblie{
		display: block;
	    padding: 3px 15px 5px 15px;
	    border-radius: 10px;
	    background: #165ea4;
	    bottom: 5px;
	    left: 20px;
	    position: fixed;
	    z-index: 999;
	    font-size: 35px;

	    a{
	    	color: #fff;
	    }
	}
}

@media(max-width:992px){ // có thể để 768px
	
	.container{
		width:100%;
	}

	.khoahoc_news{
		.colum1{
			width: 50%;
		}

		.colum2{
			margin-left:0px;
			width: 50%;
		}
	}

	.khoahoc_news{
		.list_post{
			li{
				text-align: center;

				.images_kh{
					img{
						width: 100%;
					}
				}

				.title_kh_home{
					max-height: 50px;
					height: 60px;
				}
			}
		}
	}
	
		
	#menu-menu{
		display: none;
	}

	.menu-login {
	    top: 60px;
	    right: 23px;
		top: unset;

	    li{
	    	.search-head{
	    		display: none;
	    	}
	    }
	}

	.header-inner{
		.container{
			padding-left: 0px;
			padding-right:0px;
		}

		.navbar-header{
			width:100%;
		}
	}

	.mobile-menu{
		.mean-bar{
			background:#0091c3;

			.mean-nav{
				ul{
					li{
						background:#0091c3;

						.mean-expand{
							height: 30px;
						}

						.mean-expand:hover{
							background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0
						}
					}
				}
			}
		}
	}

	.topNav{
		ul{
			padding-left: 0px;

			#menu-menu-header{
				padding-left:0px;
			}
			li{
				a{
					i{
						display: none;
					}
				}
			}
		}
	}

	.topBar .topNav ul li{
		padding:0px 0px;
	}

	.submenu_item{
		display: none;
	}

	.navbar-brand{
		float: none;
	    height: 50px;
	    padding: 0px;
	    font-size: 18px;
	    line-height: 20px;

	}

    .aicd-logo{
		img{
			margin-left: auto;
			margin-right: auto;
		}
    }

    .header-inner{
    	margin-bottom: 0px;
    	margin-top: 0px;
    }
}
// ==============================================
@media(max-width:768px){
	.about{
		.sub_menu{
			.mota_submu{
				max-width: 595px;
			}
		}
	}

	.list_topic{
		.container{
			.about_topic{
				width: 100%;
			}
		}
	}

	.tab-content{
		.dangkt_bt{
			padding-left: 0px;
		    padding-right: 0px;
		    margin-bottom: 10px;
		}
	}

	.maps_footer{
		text-align: center;
    	margin-top: 15px;
	}

}


@media(max-width:767px){
	// .mobile-menu{
	// 	margin-top: 15px;
	// }

	.about{
		.sub_menu{
			.mota_submu{
				max-width: 81%;
			}
		}
	}
	
	footer{
		#menu-menu-footer{
			display: block;
			li{
				border:none;
			}
		}
	}

	.page_book{
		.list-khoahoc{
			padding-left:0px;
		}
	}


	.lienhe{
		.form_lienhe{
			.control-label{
				width: 50%;
				text-align: unset;
			}

			.input_lh{
				width: 100%;
			}
		}
	}

	.topBar{
		.topNav{
			ul{
				li{
					 a{
					 	font-size: 14px !important;
					 }
				}
			}
		}
	}

	.menuheader_mobile{
		#menu-menu-header-tieng-viet{
			li{
				a{
					font-size: 11px !important;
				}
			}
		}
	}
}

// =================================================
@media(max-width:565px){
	.menuheader_mobile_en{
		#menu-menu-header{
			display:none;
		}
	}
}

@media(max-width:525px){
	.maps_footer{
		img{
			width: 100%;
		}
	}
}

@media(max-width:425px){
	.home{
		.khoahoc_news{
			.colum1{
				width: 100%;
			}

			.colum2{
				width: 100%;
			}
		}

		.list_khoahoc{
			text-align: center;
		}

		.hidden-xs{
			display: block !important;
			text-align: center;
		}
	}

	footer{
		.text_footer{
			p{
				width: 100%;
			}
		}

		#menu-menu-footer{
			display: block;

			li{
				border:none;
			}
		}

		.widget_meta{
			h2{
				margin-bottom: 50px;
			}
		}

		// .footer-content{
		// 	margin-bottom: 50px;
		// }
	}
	
	// .mobile-menu{
	// 	margin-top: 15px;
	// }

	.topBar{
		.container{
			padding-left: 0px;
    		padding-right: 0px;

    		.topNav{
    			ul{
    				.menu-menu-header{
    					li{
    						padding-right: 10px;
    					}
    				}
    			}
    		}
		}
	}

	.search_header{
		width: 100% !important;

		input{
			width: 100% !important;
		}

		.submit_tk {
			margin-right: 0px !important;
		}
	}
	
	.home-input{
		.search_header{
			margin: auto;
		}
	}

	.menu-login{
	    right: 30px;
	    bottom: 0;
	    z-index: 999999;
	    top: unset;

	    .login{
    	    border: 1px solid #2980b9;
    	    background: #2980b9;

    	    a{
    	    	padding: 8px 15px 8px 15px;
    			color: #fff;
    	    }
	    }
	}

	.lienhe{
		.diachi{
			margin-bottom: 20px;
		}

		#wpgmza_map{
			margin-top: 10px;
		}
	}
}

// =================================

@media(max-width:375px){
	#menu-menu-header{
		li{
			padding-right: 12px;
		}
	}

	.topBar .topNav ul li:nth-last-child(-n + 4){
		padding-right: 0px !important;
	}

	.topBar .topNav ul li{
		padding: 0px 7px;
	}

	.topBar{
		.topNav{
			ul{
				li{
					 a{
					 	font-size: 13px !important;
					 }
				}
			}
		}
	}

	.menuheader_mobile{
		#menu-menu-header-tieng-viet{
			li{
				 a{
				 	font-size: 8px !important;
				 }
			}
		}
	}
}

@media(max-width:320px){
	.topBar .topNav ul li{
		padding: 0px 3px;
	}

	.aicd-logo{
		img{
			margin-right: unset;
		}
	}
}