@media(max-width:1024px){
	.lichkhoahoc{
		.filter-control{
			padding-right: 2px !important;
		}

		.go_filter{
			display: inline-block;
			margin-top: 10px;
		}
	}

	.sidebar_tintuc{
		.list_events{
			ul{
				li{
					.images_events{
						img{
							width: 100%;
						}
					}
				}
			}
		}
	}


	.images_khoahoc{
		img{
			width: 100%;
		}
	}

	#fancybox-content{
		width: 75% !important;
	}
}


@media(max-width:768px){
	.lichkhoahoc{
		.filter-control{
			padding-right: 10px !important;

		}

		.go_filter{
			display: table-cell;
		}
	}

	.sidebar_tintuc{
		 .list_events{
		 	 ul{
		 	 	 li{
		 	 	 	 .images_events{
		 	 	 	 	 img{
		 	 	 	 	 	width: 100%;
		 	 	 	 	 }
		 	 	 	 }
		 	 	 }
		 	 }
		 }
	}

	.single_mobile{
		display: block;
		color: #1a4894;
	}

	.aside-title{
		margin-top: 15px;
	}

	.form_thongtin{
		.dangky{
			display: none;
		}

		.dangky_mobile{
			display: block;
			display: inline-block;
		}
	}
}


@media(max-width:767px){
	.form_thongtin{
		text-align: center;

		.addtoany_shortcode{
			float: none;
		}
	}

	.lichkhoahoc{
		.filter-control{
			display: block;
			width: 100%;
			margin-bottom: 8px;
			
			.filter_kh{
				width: 100% !important;
			}
		}

		.display_kh{
			display: block;
    		float: none;
		}
	}
}


@media(max-width:425px){
	.lichkhoahoc{
		.filter-control{
			display: inherit;
			margin-bottom: 10px;
			padding-right: 0px !important;
			.filter_kh{
				width: 100%;
			}
		}
	}

	.sidebar_tintuc{
		.list_events{
			ul{
			 	li{
			 	 	.images_events{
			 	 	 	img{
			 	 	 	 	width: 100%;
			 	 	 	}
			 	 	}
			 	 
				}
			}
		}
	}
}