@media(max-width:1024px){
	.tuvanchienluoc{
		.item_chienluoc{
			width: 100%;
		}
	}

	.author{
		.images_author{
			width: 25%;
		}

		.noidung_author{
			width: 63.666667%;
		}
	}

	.submenu_item{
		padding: 15px 0px 15px 35px;
	}
}

@media(max-width:768px){
	.tuvan_nghiencuu{
		.video{
			iframe{
				width: 100%;
			}
		}
	}
	
	.tuvanchienluoc{
		.learn{
			.container{
				.noidung{
					ul{
						li{
							.images_learn{
								width: 25%;
							}

							.single_learn{
								width: 75%;
							}
						}
					}
					.images_learn{
						text-align: center;
					}

				}
			}
		}
	}

	.author{
		.images_author{
			width: 30%;
		}

		.noidung_author{
			width: 58.666667%;
		}
	}

}

@media(max-width:767px){
	.tuvanchienluoc .learn .container .noidung ul li .images_learn{
		width: 100%;
	}
	
	.tuvanchienluoc .learn .container .noidung ul li .single_learn{
		width: 100%;
	}

	.title_post{
		text-align: center;
	}
	
	.single_post{
		text-align: center;
	}

	.author{
		.images_author{
			width: 100%;
		    text-align: center;
		    margin-left: 0px;
		}

		.noidung_author{
			width: 100%;
		    margin-right: 0px;
		    text-align: center;

		    img{
		    	display: none;
		    }

		    .single_author{
		    	max-width: 100%;
		    }
		}
	}
	
	.daotao{
		.submenu{
			.submenu_daotao{
				text-align: center;
				img{
					//width: unset;
				}
			}
		}
	}
}