.title_single{
	color: #1a4894;
	font-family: opensan-regular;
}

.content_single{
	margin-top: 25px;
	margin-bottom:25px;
	font-family: opensan-regular;
}

.detail_news{
	.sidebar{
		margin-top: 20px;
	}
}