.form_thongtin{
	background: #ebebeb;
	padding: 15px 0px 0px 0px;
	
	// .dangkythongtin{
	// 	padding: 15px 55px 0px 55px;
	// }

	.date{
		font-size: 19px;
		font-family: opensan-bold;
		color: #555555;
		margin-bottom: 35px;
	}

	.time_kh{
		color: #555555;
		font-family: opensan-regular;
		font-size: 17px;
	}

	.time_star{
		color: #555555;
		font-size: 17px;
		font-family: opensan-regular;
		margin-top: 10px;
	}

	.location{
		color: #555555;
		font-size: 17px;
		font-family: opensan-regular;
		margin-top: 25px;
	}

	.status{
		display: inline-block;
	    padding: 10px 20px 10px 20px;
	    background: #fff;
	    text-transform: uppercase;
	    border-radius: 5px;
	    font-family: opensan-regular;
	    margin-top: 20px;
	}

	.title_status{
		color: #555555;
		font-size: 19px;
		font-family: opensan-regular;
	}

	.single{
		font-size: 17px;
		font-family: opensan-bold;
		color: #555555;
	}

	.members{
		color: #555555;
		font-size: 14px;
		font-family: opensan-regular;
	}

	.google_maps{
		background: #5674b9;
	    border: none;
	    border-radius: 5px;
	    padding: 5px 13px 5px 13px;

		a{
			color:#fff;
			text-transform: uppercase;
		}
	}

	.dangky{
		background: #2e3192;
	    color: #fff;
	    text-transform: uppercase;
	    border: none;
	    padding: 8px 15px 8px 15px;
	    border-radius: 5px;
    	display: inline-block;

	    a{
	    	color: #fff;
	    	text-transform:uppercase;
	    	text-decoration:none;
	    	font-family: opensan-regular;
	    }
	}

	.addtoany_shortcode{
		float: right;
		div{
			a{
				span{
					width: 40px !important;
				    line-height: 40px !important;
				    height: 40px !important;
				    border-radius:100% !important;
				}
			}
		}
	}

	.icon_mxh{
		display: inline-block;
    	margin-top: 10px;
    	padding-left: 30px;
	}

	.price_kh{
		margin-top: 20px;
	}
}

#fancybox-outer{
	position: fixed !important;
    top: 10px;
    max-width: 51.5%;
    max-height: 91%;
}

#fancybox-content{
	width: 565px !important;
	padding: 15px 55px 0px 55px !important;

	.wpcf7-textarea{
		height: 100px;
	}

	.checkbox{
		text-align: center;
	    color: #000000;
	    margin-top: -20px;
	}

	.submit_form{
		text-align: center;
    	margin-top: 19px;

    	input{
    		border: none;
		    background: #363e8b;
		    color: #fff;
		    font-size: 18px;
		    text-transform: uppercase;
		    border-radius: 4px;
		    padding: 8px 21px 6px 21px;
    	}
	}
}

.tieude{
	font-size: 21.1px;
    text-align: center;
    font-weight: bold;
    font-family: opensan-regular;
}

.loikhuyen{
	font-size: 14.28px;
    text-align: center;
    font-family: opensan-regular;
}


.content_single{
	.w3eden{
		.table-bordered{
			display: none;
		}

		img{
			display: none;
		}
	}

	.download{
	    float: right;
		text-align: center;
		margin-bottom: 100px;
		
		.nut_download{
			border:none;
			background:#363e8b;
			padding: 11px 20px 10px 20px;

			a{
				color: #fff;
				font-family: opensan-regular;
				text-transform:uppercase;
				font-size: 15px;

				i{
					font-size: 25px;
    				margin-right: 10px;
				}
			}
		}

		.mota_wpdl{
			color:#363e8b;
			font-family: opensan-regular;
		}
	}
}

.formdangky{
	.checkbox{
		text-align: center;
	}

	.submit_form{
		text-align: center;
		margin-bottom: 25px;
		
		input{
			border: none;
		    background: #363e8b;
		    color: #fff;
		    font-size: 18px;
		    text-transform: uppercase;
		    border-radius: 4px;
		    padding: 8px 21px 6px 21px;
		}
	}
}


.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
    max-width: 100%;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
    max-width: 100%;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
    max-width: 100%;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.thoi_luong{
	margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 35px;

    span{
    	font-size: 14px;
	    background: none;
	    color: #333333;
    }
}

// .intrinsic-container{
// 	iframe{
// 		#buttons{
// 			display:none;
// 		}
// 	}
// }

// .ndfHFb-c4YZDc-i5oIFb.ndfHFb-c4YZDc-e1YmVc .ndfHFb-c4YZDc-Wrql6b{
// 	display:none;
// }