.page_book{
	.container{
		margin-top: 15px;
	}

	.title_page{
		font-size: 36px;
		color: #1a4894;
		font-family: opensan-regular;
		text-align: center;
	}

	.list_book{
		text-align: center;
		
		a{
			text-decoration: none;
		}
		.images_book{
			img{
				background-size: cover;
			    height: auto;
			    background-position: 50%;
			}
		}
		
		.book{
			-webkit-box-shadow: 0px 0px 10px #ccc;
   			box-shadow: 0px 0px 10px #ccc;
   			border: 1px solid #e3e3e3;
			padding: 30px;
			margin-bottom: 25px;

   			.title_book{
   				font-size: 15px;
   				color: #1a4894;
   				font-family: opensan-bold;
   				margin-top: 20px;
   			}

   			.mota_book{
   				font-family: opensan-regular;
   				color: #737373;
				font-size: 15px;
				margin-top: 20px;
				height: 125px;
    			max-height: 100%;
   			}
		}
	}
}

.content_single{
	.w3eden{
		img{
			width: 100%;
		}
	}
}