.page_book{
    text-align: center;

    .pagination{
        .page-numbers{
            list-style:none;
            padding-left: 0px;

            li{
                display: inline-block;
                padding: 0px 0px 0px 20px;
                
                span{
                    text-decoration: none;
                    font-size: 21px;
                    color: #898989;
                    font-family: opensan-bold;
                }

                a{
                    text-decoration: none;
                    font-size: 21px;
                    color: #363e8b;
                    font-family: opensan-bold;
                }
            }
        }
    }
}

.list_news{
    .paginate {
        margin-top: 10px;
        text-align: center;
    }
    .paginate .page-numbers {
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        text-decoration: none;
        font-size: 21px;
        color: #898989;
        font-family: opensan-bold;
    }
    .paginate .current {
        text-decoration: none;
        font-size: 21px;
        color: #363e8b;
        font-family: opensan-bold;
    }
}