@media(min-width:992px){
	.home{
		.khoahoc_news{
			.colum1{
				width: 47.8%;
			}

			.colum2{
				margin-left: 51px;
    			width: 47.8%;
			}
		}
	}
}

@media(max-width:990px){
	.menu{
		.container{
			padding-left: 0px;
			padding-right: 0px;
		}
	}
}

@media(max-width:930px){
	.header-inner{
		.container{
			.logo{
				a{
					img{
						display: block;
						margin-left: auto;
    					margin-right: auto;
					}
				}
				
				.widget_widget_logo{
					display: block;
    				text-align: center;

					.text_logo{
						margin-top: 0px;
					}
				}
			}
		}
	}
}

@media(max-width:768px) {
	.logo{
		a{
			.widget_widget_logo{
				.text_logo{
					p{
						font-size: 20px;
					}
				}
			}
		}
	}
}

@media(max-width:550px) {
	.logo{
		a{
			.widget_widget_logo{
				.text_logo{
					p{
						font-size: 10px;
					}
				}
			}
		}
	}
}

@media(max-width:320px) {
	.logo{
		a{
			.widget_widget_logo{
				.text_logo{
					p{
						font-size: 10px;
					}
				}
			}
		}
	}
}