@font-face {
    font-family: opensan-bold;
    src: url(../fonts/home/OpenSans-Bold.ttf);
}

@font-face {
    font-family: opensan-regular;
    src: url(../fonts/home/OpenSans-Regular.ttf);
}

// @font-face {
//     font-family: archivo-semibold;
//     src: url(../fonts/home/Archivo-SemiBold.ttf);
// }

	.khoahoc_news{
		background: #e1e1e1;

		.list_post{
			padding-left: 0px;
    		list-style: none;
			margin-top: 25px;

    		li{
    			background:#fff;
    			margin-bottom: 25px;
    			.images_kh{
    				img{
    					background-size: cover;
					    height: auto;
					    background-position: 50%;
    				}
    			}

    			.title_kh_home{
    				color: #1a4894;
				    font-family: opensan-regular;
				    font-size: 16px;
				    margin-top: 12px;
				    padding-right: 10px;
				    font-weight: 600;
    			}

    			.time_kh{
    				color: #1a4894;
				    font-family: opensan-regular;
    			}
    		}

		}

		// .colum1{
		// 	width:47.8%;
		// }

		// .colum2{
		// 	margin-left: 51px;
  //   		width: 47.8%;
		// }
	}

	.title_danhmuc{
		background: #e1e1e1;
		font-size: 18px;
		font-family: opensan-bold;
		color: #1a4894;
		text-transform:uppercase;
	}
	
	.recomm{
		-webkit-box-flex: auto;
	    -ms-flex: auto;
	    -webkit-flex: auto;
	    -moz-box-flex: 1;
	    flex: auto;
	    margin: 0.5vw;
	    padding: 0;

	    .url_noibat{
	    	text-decoration: none;
    		font-size: 14px;
	    }
	}

	.list_noibat{
		padding: 2vh 0.5vw;
	    display: -ms-flexbox;
	    -ms-flex-wrap: nowrap;
	    -ms-flex-direction: column;
	    -webkit-flex-flow: row nowrap;
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	    -moz-box-orient: horizontal;
	    -moz-box-direction: normal;
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: flex;
	    padding-bottom: 5em;
	}

	.thumbnail{
		border: none;
    	padding: 0;

		img{
			background-size: cover;
		    height: auto;
		    width: 100%;
		    background-position: 50%;
		}
	}

	.title_comlum{
		font-size: 18px;
	    color: #1a4894;
	    font-family: opensan-bold;
	    text-transform:uppercase;
	}

	.summary{
		h5{
			font-weight: 600;
		}
	}

	.list_khoahoc{
		font-size: 16px;
    	font-family: opensan-bold;
    	text-align: right;
    	margin-bottom: 25px;
    	margin-top: 25px;
		text-transform:uppercase;
    	a{
			color: #1a4894;
    		text-decoration: none;
    	}
    	&.left {
    		text-align: left; 
    		width: auto; 
    		float: left;
    	}
    	&.right {
    		margin-left: 28px;
    		width: auto; 
    		float: right;
    	}

    	&.left_kh {
    		text-align: left; 
    		width: auto; 
    		float: left;
    	}
    	&.right_kh {
    		margin-left: 28px;
    		width: auto; 
    		float: right;
    	}
	}

	.list_tag{
		padding-top: 50px;
    	padding-bottom: 50px;

    	ul{
    		li{
    			a{
    				font-family: opensan-bold;
    				color: #737373;
    				font-size: 12px;
    			}
    		}
    	}
	}
	
	.component-body{
		text-transform: uppercase;
	    line-height: 1.4em;
	    font-weight: bold;
	    font-size: 18px;
	    text-align: center;
	    font-family: opensan-bold;
	    color: #1a4894;
	    margin-bottom: 25px;
	}

	.list-inline{
		display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	    -webkit-flex-direction: row;
	    -moz-box-orient: horizontal;
	    -moz-box-direction: normal;
	    -ms-flex-direction: row;
	    flex-direction: row;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -moz-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;

	    li{
	    	margin: 6px 4px;

	    	.btn-fill{
	    		color: #848484;
			    background-color: #f3f3f3;
			    -webkit-border-radius: 8px;
			    -moz-border-radius: 8px;
			    border-radius: 8px;
			    border-color: transparent;
			    min-width: auto;
			    font-size: 12px;
			    text-transform: uppercase;
			    font-weight: bold;
			    padding: 7px 12px;
	    	}
	    }
	}

	
	.sub-menu{
		display:none;
	}

	.topNav{
		ul{
			#menu-menu{
				.sub-menu{
					display: none;
				}
			}
		}
	}
	
	
	// .submenu_item{
	// 	display: none;
	// }
.form_thongtin{
	.dangky_mobile{
		display:none;
		background: #2e3192;
	    color: #fff;
	    text-transform: uppercase;
	    border: none;
	    padding: 8px 15px 8px 15px;
	    border-radius: 5px;
	    margin-top: 25px;

	    a{
	    	color: #fff;
	    }
	}
}

.admin{
	#wpadminbar{
		display: none;
	}
}

.widget_icon_header{
	display:flex;
}

.list_khoahoc.left_courses{
	display: inline-block;
}

.list_khoahoc.right_courses{
	display: inline-block;
    float: right;
}

.list_khoahoc.left_share{
	display: inline-block;
}

.list_khoahoc.right_share{
	display: inline-block;
    float: right;
}