@media (max-width: 1200px){
	.noibat-home{
		.list_noibat{
			-webkit-box-orient: horizontal;
		    -webkit-box-direction: normal;
		    -webkit-flex-flow: row wrap;
		    -moz-box-orient: horizontal;
		    -moz-box-direction: normal;
		    -ms-flex-flow: row wrap;
		    flex-flow: row wrap;
		}
	}
}