.daotao{
	.submenu{
		margin-top: 50px;

		.submenu_daotao{
			-webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
		    padding: 30px;
		    background-color: #fff;
		    -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);
		    -moz-box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);
		    box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);
		    width: 100%;
		    border: solid 1px #e8e8e8;
		    border-top-width: 0;
		    display: block;
		    margin: 0;
		    float: left;
		    margin-bottom: 17px;

		    img{
		    	width: 110px;
		    	height: 110px;
		    	border-radius:100%;
		    }

		    .title_sub{
		    	font-size: 18px;
		    	font-family: opensan-bold;
		    	color:#1a4894;
		    }

		    .single_sub{
		    	font-family: opensan-regular;
		    	font-size: 16px;
		    	color: #363636;
		    }

		    .view_daotao{
		    	color: #1a4894;
		    	font-family: opensan-regular;
    			font-size: 16px;
		    }

		    .view_daotao{
		    	a{
		    		font-family: opensan-regular;
		    		font-size: 16px;
		    		text-decoration: none;
		    	}
		    }
		}
	}

	.pod-container{
		.colum{
			background:#fff;
			padding:25px;
		}

	    .pod-image{
	    	text-align:center;
	    	img{
	    		margin-right: auto;
			    margin-left: auto;
			    margin-bottom: 20px;
			    width: 100px;
	    	}
	    }

	    .pod-content{
	    	text-align: center;

	    	.heading{
	    		p{
	    			font-family: opensan-bold;
	    			color: #1a4894;
	    			height: 35px;
	    		}
	    	}
	    	.content{
				color: #1a4894;
				height: 150px;
	    	}
	    }
	}
	.horizontal{
		padding-bottom: 50px;
    	padding-top: 35px;
	}

	.component-title{
		text-align: center;
		font-size: 36px;
		font-family: opensan-regular;
		color: #1a4894;
	}

	.gioithieu{
		font-family: opensan-regular;
		font-size: 18px;
		color: #1a4894;
		margin-bottom: 40px;
	}

	.development{
		.background{
			height: 340px;
			background-size: cover;
		    background-position: 50%;
		    width: 100%;

		    .title_back{
		    	font-size: 36px;
    			color: #fff;
    			font-family: opensan-regular;
    			margin-top: 30px;
		    }

		    .single_back{
		    	color: #fff;
		    	font-family: opensan-regular;
		    	margin-top: 25px;
		    }
		}
	}

	.noidung{
		margin-top: 50px;

		ul{
			padding-left:0px;
			list-style: none;
			li{
				.images_learn{
					img{
						width: 110px;
						height: 110px;
						border-radius: 100%;
					}
				}

				.single_learn{
					border-bottom:1px solid #1a4894;
					padding-left: 0px;
    				padding-bottom: 10px;

    				.title_post{
    					font-size: 18px;
    					font-family: opensan-bold;
    					color: #1a4894;
    				}

    				.single_post{
    					font-size: 16px;
    					margin-top: 20px;
    					font-family: opensan-regular;
    					color: #555555;
    				}
				}
			}
		}
	}

	.learn{
		.container{
			margin-top: 15px;

			.title_learn{
				font-size: 36px;
    			text-align: center;
    			font-family: opensan-regular;
    			color: #1a4894;
			}

			.mota_learn{
				text-align: center;
				font-family: opensan-regular;
    			color: #1a4894;
    			font-size: 18px;
			}
		}
	}
	.widget_text{
		.widget-title{
			font-size: 36px;
			font-family: opensan-regular;
			color: #1a4894;
			text-align: center;
		}
	}

	.textwidget{
		max-width: 1170px;
		margin: 0 auto;
		text-align: center;
		p{
			color: #1a4894;
			font-size: 18px;
			font-family: opensan-regular;
		}
	}
}

.list_topic{
	background:#e1e1e1;

	.container{
		text-align: center;

		.tieude{
			font-size: 36px;
			font-family: opensan-regular;
			color: #1a4894;
			margin-top: 15px;
		}

		.about_topic{
			font-size: 18px;
			font-family: opensan-regular;
			color: #1a4894;
			width: 55%;
		    margin: 0 auto;
		    margin-bottom: 35px;
		}

		.url_topic{
			border: none;
		    background: #1a4894;
		    border-radius: 5px;
		    padding: 10px;
		    margin-bottom: 35px;
		    a{
		    	color: #fff;
		    	font-family: opensan-regular;
		    	text-decoration: none;
		    }
		}
	}
}


.daotaokhuvuccong{
	.title_page{
		font-family: opensan-bold;
		font-size: 18px;
		color: #1a4894;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.filter_khoahoc{
		ul{
			list-style:none;
			padding-left:0px;

			li{
				.date_khoahoc{
					font-family: opensan-bold;
    				color: #636363;
				}

				.title_kh{
					font-size: 20px;
				    color: #1a4894;
				    margin-top: -10px;
				    margin-bottom: 15px;
				    max-height: 60px;
				}

				.mota_kh{
					color: #1a4894;
				}

				.status{
					text-transform: uppercase;
				}

				.read_more{
					float: right;
				    text-transform: uppercase;
				    color: #1a4894;
				}
			}
		}
	}

	.sidebar{
		.sidebar_tintuc{
			ul{
				li{
					margin-top: 0px;
				    padding-bottom: 0px;
				    border-bottom: none;
				}
			}
		}
	}

	.pagination{
		display: block !important;
		.page-numbers{
			text-align: center;
			li{
				margin-top: 0px;
			    padding-bottom: 0px;
			    border-bottom: none;
			    display: inline-block;
    			padding: 0px 0px 0px 20px;

    			span{
    				text-decoration: none;
				    font-size: 21px;
				    color: #898989;
				    font-family: opensan-bold;
    			}

    			a{
	    			text-decoration: none;
				    font-size: 21px;
				    color: #363e8b;
				    font-family: opensan-bold;
    			}
			}
		}
	}
}

.slick-grid{
	.colum{
		.pod-image{
			img{
				height: 110px;
				width: 110px;
				border-radius:100%;
			}
		}
	}
}